<h3>
  {{localize 'AZS.pc.sheet.attributes.header'}}
</h3>
<div class='atrybuty-partial'>
  <div class='padding-lewo atr zycie opis'>
    {{localize 'AZS.pc.sheet.attributes.life'}}
  </div>
  <div class='atr zycie wartosc zasob'>
    <input
      class='input-zasob prawo'
      name='system.zycie.value'
      type='text'
      value='{{actor.system.zycie.value}}'
      data-dtype='Number'
      maxlength='2'
      size='2'
    />
    <span> / </span>
    <input
      class='input-zasob lewo'
      name='system.zycie.max'
      type='text'
      value='{{actor.system.zycie.max}}'
      data-dtype='Number'
      maxlength='2'
      size='2'
    />
  </div>
  <div class='padding-lewo atr mana opis'>
    {{localize 'AZS.pc.sheet.attributes.mana'}}
  </div>
  <div class='atr mana wartosc zasob'>
    <input
      class='input-zasob prawo'
      name='system.mana.value'
      type='text'
      value='{{actor.system.mana.value}}'
      data-dtype='Number'
      maxlength='2'
      size='2'
    />
    <span> / </span>
    <input
      class='input-zasob lewo'
      name='system.mana.max'
      type='text'
      value='{{actor.system.mana.max}}'
      data-dtype='Number'
      maxlength='2'
      size='2'
    />
  </div>
  <a
    class='atrybut-roll opis padding-lewo'
    data-roll='d20+{{actor.system.sila}}'
    data-label='Test siły'
  >
    {{localize 'AZS.pc.sheet.attributes.strength'}}
  </a>
  <div class='atr sila wartosc srodek'>
    <input
      class='input-stat'
      name='system.sila'
      type='text'
      value='{{actor.system.sila}}'
      data-dtype='Number'
      maxlength='1'
      size='1'
    />
  </div>
  <a
    class='atrybut-roll opis padding-lewo'
    data-roll='d20+{{actor.system.sprawnosc}}'
    data-label='Test sprawności'
  >
    {{localize 'AZS.pc.sheet.attributes.dexterity'}}
  </a>
  <div class='atr sprawnosc wartosc srodek'>
    <input
      class='input-stat'
      name='system.sprawnosc'
      type='text'
      value='{{actor.system.sprawnosc}}'
      data-dtype='Number'
      maxlength='1'
      size='1'
    />
  </div>
  <a
    class='atrybut-roll opis padding-lewo'
    data-roll='d20+{{actor.system.magia}}'
    data-label='Test magii'
  >
    {{localize 'AZS.pc.sheet.attributes.magic'}}
  </a>
  <div class='atr magia wartosc srodek'>
    <input
      class='input-stat'
      name='system.magia'
      type='text'
      value='{{actor.system.magia}}'
      data-dtype='Number'
      maxlength='1'
      size='1'
    />
  </div>
  <a
    class='atrybut-roll opis padding-lewo'
    data-roll='d20+{{actor.system.szybkosc}}'
    data-label='Test szybkości'
  >
    {{localize 'AZS.pc.sheet.attributes.speed'}}
  </a>
  <div class='atr szybkosc wartosc srodek'>
    <input
      class='input-stat'
      name='system.szybkosc'
      type='text'
      value='{{actor.system.szybkosc}}'
      data-dtype='Number'
      maxlength='1'
      size='1'
    />
  </div>
  <div class='atr ruch opis padding-lewo'>
    {{localize 'AZS.pc.sheet.attributes.move'}}
  </div>
  <div class='atr ruch wartosc srodek'>
    <input
      class='input-stat'
      name='system.ruch'
      type='text'
      value='{{actor.system.ruch}}'
      data-dtype='Number'
      maxlength='1'
      size='1'
    />
  </div>
</div>
