<h3>Atrybuty</h3>
<div class = "atrybuty_partial">
    <div class = "atr zycie opis">życie</div>
    <div class = "atr zycie wartosc zasob">
        <input class = "inputZasob prawo" name="data.zycie.value" type="text" value="{{data.data.zycie.value}}" data-dtype="Number"  maxlength="2" size="2"/>
        <span> / </span>
        <input class = "inputZasob lewo" name="data.zycie.max" type="text" value="{{data.data.zycie.max}}" data-dtype="Number"  maxlength="2" size="2"/>
    </div>
    <div class = "atr mana opis">mana</div>
    <div class = "atr mana wartosc zasob">
        <input class = "inputZasob prawo" name="data.mana.value" type="text" value="{{data.data.mana.value}}" data-dtype="Number"  maxlength="2" size="2"/>
        <span> / </span>
        <input class = "inputZasob lewo" name="data.mana.max" type="text" value="{{data.data.mana.max}}" data-dtype="Number"  maxlength="2" size="2"/>
    </div>
    <a class="atrybut-roll opis" data-roll="d20+{{data.data.sila}}" data-label="Test siły">siła</a>
    <div class = "atr sila wartosc srodek">
        <input class = "inputStat" name="data.sila" type="text" value="{{data.data.sila}}" data-dtype="Number"  maxlength="1" size="1"/>
    </div>
    <a class="atrybut-roll opis" data-roll="d20+{{data.data.sprawnosc}}" data-label="Test sprawności">sprawność</a>
    <div class = "atr sprawnosc wartosc srodek">
         <input class = "inputStat" name="data.sprawnosc" type="text" value="{{data.data.sprawnosc}}" data-dtype="Number"  maxlength="1" size="1"/>
    </div>
    <a class="atrybut-roll opis" data-roll="d20+{{data.data.magia}}" data-label="Test magii">magia</a>
    <div class = "atr magia wartosc srodek">
         <input class = "inputStat" name="data.magia" type="text" value="{{data.data.magia}}" data-dtype="Number"  maxlength="1" size="1"/>
    </div>
    <a class="atrybut-roll opis" data-roll="d20+{{data.data.szybkosc}}" data-label="Test szybkości">szybkość</a>
    <div class = "atr szybkosc wartosc srodek">
        <input class = "inputStat" name="data.szybkosc" type="text" value="{{data.data.szybkosc}}" data-dtype="Number"  maxlength="1" size="1"/>
    </div>
    <div class = "atr ruch opis">ruch</div>
    <div class = "atr ruch wartosc srodek">
        <input class = "inputStat" name="data.ruch" type="text" value="{{data.data.ruch}}" data-dtype="Number"  maxlength="1" size="1"/>
    </div>
</div>