<div class='bieglosci_partial'>
  <h3>
    {{localize 'AZS.pc.sheet.skills.header'}}
  </h3>
  <section class='lista-bieglosci'>
    {{#each bieglosci as |bieglosc|}}
      <div class='item padding-lewo' data-item-id='{{id}}'>
        <a
          class='rzut-na-bieglosc'
          {{#if bieglosc.system.attribute}}
            data-attribute-value='{{getProperty actor.system bieglosc.system.attribute}}'
          {{else}}
            data-attribute-value='{{actor.system.sprawnosc}}'
          {{/if}}
          data-description='{{system.opis}}'
          data-pc-level="{{actor.system.poziom}}"
          data-skill-name="{{name}}"
          data-skill-type='{{system.typBieglosci}}'
          data-modifier=''
        >{{name}}</a>
        <a class='item-delete'>
          <i class='fa-regular fa-xmark'></i>
        </a>
      </div>
    {{/each}}
  </section>
</div>
