<div class = "zasoby_partial">
    <div class = "zasoby label">Amunicja</div>
    <div><input name="data.amunicja.value" type="text" value="{{data.data.amunicja.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div>/</div>
    <div>{{data.data.amunicja.max}}</div>
    <div class = "zasoby label">Pancerz</div>
    <div><input name="data.pp.value" type="text" value="{{data.data.pp.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div>/</div>
    <div>{{data.data.pp.max}}</div>
    <div class = "zasoby label">Pochodnia</div>
    <div><input name="data.pochodnia.value" type="text" value="{{data.data.pochodnia.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div>/</div>
    <div>{{data.data.pochodnia.max}}</div>
    <div class = "zasoby label">Rana</div>
    <div class = "zasoby label"><input name="data.rana" type="checkbox" {{checked data.data.rana}}/></div>
</div>