<h3>Zasoby</h3>
<div class = "zasoby2_partial">
    <div class = "zasoby2 label">Zapasy</div>
    <div class = "zasoby2 label2">Narzędzia</div>
    <div class = "zasoby2 label3">Komponenty</div>
    <div><input name="data.zapasy.value" type="text" value="{{data.data.zapasy.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div>/{{data.data.zapasy.max}}</div>
    <div><input name="data.narzedzia.value" type="text" value="{{data.data.narzedzia.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div>/{{data.data.narzedzia.max}}</div>
    <div><input name="data.komponenty.value" type="text" value="{{data.data.komponenty.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div>/{{data.data.komponenty.max}}</div>
</div>