<div class = "zasoby_partial">
    <div class = "zasoby label opis srodek">Amunicja</div>
    <div class = "zasobInputDiv"><input class = "inputZasob prawo" name="data.amunicja.value" type="text" value="{{data.data.amunicja.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div class = "srodek" style="padding-top: 4px;">/</div>
    <div class = "lewo" style="padding-top: 4px;">{{data.data.amunicja.max}}</div>
    <div class = "zasoby label opis srodek">Pancerz</div>
    <div class = "zasobInputDiv"><input class = "inputZasob prawo" name="data.pp.value" type="text" value="{{data.data.pp.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div class = "srodek" style="padding-top: 4px;">/</div>
    <div class = "zasobInputDiv"><input class = "inputZasob2 lewo" name="data.pp.max" type="text" value="{{data.data.pp.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div class = "zasoby label opis srodek">Pochodnia</div>
    <div class = "zasobInputDiv"><input class = "inputZasob prawo" name="data.pochodnia.value" type="text" value="{{data.data.pochodnia.value}}" data-dtype="Number"  maxlength="1" size="1"/></div>
    <div class = "srodek" style="padding-top: 4px;">/</div>
    <div class = "lewo" style="padding-top: 4px;">{{data.data.pochodnia.max}}</div>
    <div class = "zasoby label opis srodek">Rana</div>
    <div class = "zasoby label srodek"><input name="data.rana" type="checkbox" {{checked data.data.rana}}/></div>
</div>