<div class='zasoby2-head srodek'><h3>Zasoby</h3></div>
<div class='zapasy-nag opis srodek'>Zapasy</div>
<div class='narzedzia-nag opis srodek'>Narzędzia</div>
<div class='komponenty-nag opis srodek'>Komponenty</div>
<div class='srodek zapasy-val-1 zasob'>
  <div class='srodek'><label><input
        name='system.zapasy.zapas1'
        type='checkbox'
        {{checked actor.system.zapasy.zapas1}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-sack'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.zapasy.zapas2'
        type='checkbox'
        {{checked actor.system.zapasy.zapas2}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-sack'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.zapasy.zapas3'
        type='checkbox'
        {{checked actor.system.zapasy.zapas3}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-sack'
        ></i></span></label></div>
</div>
<div class='srodek zapasy-val-2 zasob'>
  <div class='srodek'><label><input
        name='system.zapasy.zapas4'
        type='checkbox'
        {{checked actor.system.zapasy.zapas4}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-sack'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.zapasy.zapas5'
        type='checkbox'
        {{checked actor.system.zapasy.zapas5}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-sack'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.zapasy.zapas6'
        type='checkbox'
        {{checked actor.system.zapasy.zapas6}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-sack'
        ></i></span></label></div>
</div>
<div class='srodek narzedzia-val zasob'>
  <div class='srodek'><label><input
        name='system.narzedzia.narzedzie1'
        type='checkbox'
        {{checked actor.system.narzedzia.narzedzie1}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-toolbox'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.narzedzia.narzedzie2'
        type='checkbox'
        {{checked actor.system.narzedzia.narzedzie2}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-toolbox'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.narzedzia.narzedzie3'
        type='checkbox'
        {{checked actor.system.narzedzia.narzedzie3}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-toolbox'
        ></i></span></label></div>
</div>
<div class='srodek komponenty-val zasob'>
  <div class='srodek'><label><input
        name='system.komponenty.komponent1'
        type='checkbox'
        {{checked actor.system.komponenty.komponent1}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-vial'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.komponenty.komponent2'
        type='checkbox'
        {{checked actor.system.komponenty.komponent2}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-vial'
        ></i></span></label></div>
  <div class='srodek'><label><input
        name='system.komponenty.komponent3'
        type='checkbox'
        {{checked actor.system.komponenty.komponent3}}
      /><span class='checkbox'><i
          class='opis fa-regular fa-vial'
        ></i></span></label></div>
</div>